streamlit # streamlit 기본 모듈 (필수)
# 여기부터 추가하고 싶은 모델 표시
pandas    # pandas 라이브러리
numpy     # numpy 라이브러리
scikit-learn
torch     # 파이토치
mlxtend   # Linux에서 joblib(모델 불러오는 라이브러리)을 쓰기 위해 필요
sklearn   # 트리 시각화
graphviz  # 트리 시각화
plotly    # 그래프 시각화
